<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="ModifierOrder" />
        <module name="EmptyBlock" />
        <module name="AvoidStarImport" />
        <module name="UnusedImports" />

        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.out(?:\.|::)println"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.err(?:\.|::)println"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="\.printStackTrace"/>
        </module>
    </module>
</module>